@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
    font-family:DM Sans,Arial, Helvetica, sans-serif;
}
.content{
 flex: 4;
 background: linear-gradient(#222222, #1F1F1F, #171717, #161616, #151515, #131313, #121212, #121212, #121212, #12121200);
}
.leftsym,.rightsym{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightsym>img{
    width: 15px;
}
.leftsym>img{
    width: 15px;
}
.sidebar{
flex: 1;
}
.top2{
    width: 7%;
    height: 27px;
    background-color: #131313;
}
.img1top2{
    width: 25%;
    margin-left: 2px;
}
.top2>p{
    font-size: 12px;
}
.hero_top{
    font-family: DM Sans;
font-size: 38px;
font-weight: 700;
line-height: 49px;
letter-spacing: -0.03em;
text-align: left;
color: #FFFFFF;
}
.hero_cont_div>p{
    color: #FFFFFF;
    font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 26px;
letter-spacing: -0.02em;
text-align: left;
}
.liked_songs_div{
    background: linear-gradient(to bottom right, #4000F4, #603AED, #7C6EE6, #979FE1, #A2B3DE, #ADC8DC, #C0ECD7);
    width: 100px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.hero_cont_div{
    background-color:#303030;
    overflow: hidden;
}
.herosec{
    width: 80%;
    margin-top: 40px;
    margin-left: 40px;
}
.artist_top>h2{
    color: white;
    font-family: DM Sans;
font-size: 29px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.04em;
text-align: left;
margin-left: 37px;
}
.artist_top>p{
    color:#B3B3B3;
    font-family: DM Sans;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;
}
.artists_content{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.p1{
    color: #FFFFFF;
font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
}
.p2{
    color: #B3B3B3;
    font-family: DM Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.01em;
text-align: left;
margin-top: -10px;
}
.artists_cont_div{
    background-color:#181818;
    margin: 12px;
    height: fit-content;
    box-sizing: border-box;
}
.artists_cont_div>img{
    width: 96%;
    margin: auto;
}
.artists_content{
    margin-left: 2.2%;
}
.sidebar{
    background-color: #000000;
    color: white;
}
.Header_content{
    width: 100%;
}
.home{
    background-color: #282828;
}
.home, .search, .library{
margin-inline: 10px;
    /* padding: 10px; */
    padding-left: 25px;
}
.Header_content p{
    margin-left: 15%;
    font-family: DM Sans;
font-size: 19px;
font-weight: 700;
line-height: 25px;
letter-spacing: -0.06em;
text-align: left;

}
.library p{
    white-space: nowrap;
    margin-left: 30%;
}
.search p{
    margin-top: 10px;
    margin-left: 40%;
}
.sidebar_1_div_img1{
background-color: white;
width: 36px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
}
.sidebar_1_div_img2{
    background: linear-gradient(to bottom right, #4000F4, #603AED, #7C6EE6, #979FE1, #A2B3DE, #ADC8DC, #C0ECD7);
    width: 36px;
    height: 36px;
    display: flex;
justify-content: center;
align-items: center;
 }
 .sidebar_1_div_img2>img{
    width: 16px;
 }
 .main_sidebar{
    margin-top: 10%;
    margin-left: 10.4%;
 }
 .sidebar_1 p{
    font-family: DM Sans;
font-size: 19px;
font-weight: 700;
line-height: 25px;
letter-spacing: -0.0525em;
text-align: left;
margin-left: 12%;
 }
 .sidebar_1_div_img3{
    background-color:#004638;
    width: 36px;
    height: 36px;
    display: flex;
justify-content: center;
align-items: center;
 }
 .sidebar_2{
    margin-top:11%;
 }
 .sidebar_2>p{
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.0525em;
    text-align: left;
 }
.sidebar_3 p{
    margin-left: 11%;
    font-family: DM Sans;
font-size: 19px;
font-weight: 700;
line-height: 25px;
letter-spacing: -0.0525em;
text-align: left;
}
.player1{
    background-color: #181818;
    height: fit-content;
}

.player1_div1{
    width:13%;
}
.heart{
    width: 8%;
}
.player_img{
    width: 30%;
}
.pp1{
    font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: -0.05em;
text-align: left;
}
.pp2{
    font-family: DM Sans;
    color: #B3B3B3;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.05em;
text-align: left;
}
 .player1_div2{
    width: 50%;
 } 
 .plyr_prog_div1{
    width: 60%;
    height: 5px;
    background-color: #C4C4C4;
    position: relative;
    left: 2px;
 }
 .plyr_prog_div2{
    width: 15%;
    height: 5px;
    background-color: #535353;
 }
 .player1_div3{
    width: 17%;

 }
 .player1_div3_top_line{
    width: 50%;
    height: 5px;
    background-color: #C4C4C4;
 }
 .player1_div3_top>*{
   margin-inline: 2%;
 }
 .player_prog>p{
    font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.04em;
text-align: left;

 }
 .player2{
    background-color: #1ED760;
    padding-right: 55px;
 }
 .player2>div>p{
    font-family: DM Sans;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 0px;
 }
.player_controls>*{
 margin-inline: 1%;
}
.player1_div3{
    margin-top: 2%;
}
.player1_div3_bottom{
    margin-top: 7%;
    padding-left: 29%;
}
footer{
    position: sticky;
    bottom: 0px;
    z-index: 100;
}